* {
    margin: 0;
}
html {
    display: table; margin: auto;
}
html, body {
    height: 100%;
}
body {
    display: table-cell;
    vertical-align: middle;
    font-family: "figtree";
    background-color: hsl(47, 88%, 63%);
}
.container {
    margin: auto;
    max-width: 14.1rem;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 10px;
    box-shadow: 5px 5px;
}
.img-con {
    text-align: center; 
    margin: 0.9em 1em 0.6em 0.8em;
}
.main-img {
    border-radius: 8px;
}
.learn{
    font-size: 0.46rem;
    font-weight: 800;
    padding-left: 1.7em;
}
.color {
    padding: 0.3em;
    background-color: hsl(47, 88%, 63%);
    border-radius: 2px;
}
.publish {
    font-size: 0.6rem;
    padding: 1.2em 0em 0.5em 1.4em;
}
.langs {
    font-size: 0.44rem;
    font-weight: 900;
    padding: 0.5em 0em 0.5em 1.95em;
    
}
a {
    text-decoration: none;
    color: hsl(0, 0%, 7%);
}
a:hover {
    color:hsl(47, 88%, 63%);
}
.paragraph {
    color: hsl(0, 0%, 50%);
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.5rem 0em 1.2em 1.5em;
}
.small-img {
    display: flex;
    padding: 0.2em 0em 1em 0.99em;
}
.name-tag {
    font-size: 0.49rem;
    font-weight: 900;
    margin-left: 0.7em;
    padding-top: 0.5em;  
}
